type aal, binderservicedomain, coredomain, domain;
type aal_exec, exec_type, file_type, system_file_type;
type aal_service, service_manager_type;

init_daemon_domain(aal);
binder_use(aal);

binder_call(aal, binderservicedomain);

set_prop(aal, system_mtk_aal_prop);

allow aal aal_service:service_manager {add};
allow aal graphics_device:chr_file {ioctl open read};
allow aal graphics_device:dir {search};
allow aal permission_service:service_manager {find};
allow aal sensorservice_service:service_manager {find};
allow aal system_server:unix_stream_socket {read write};

