type atci_data_file, core_data_file_type, data_file_type, file_type;
type atci_service_sys_exec, exec_type, file_type, system_file_type;

init_daemon_domain(atci_service_sys);

