typeattribute bluetooth hal_telephony_client;
typeattribute sysfs_bluetooth_writable mlstrustedobject;

get_prop(bluetooth, debug_prop);
get_prop(bluetooth, system_mtk_amslog_prop);
get_prop(bluetooth, system_mtk_bluetooth_prop);
get_prop(bluetooth, system_mtk_vendor_bluetooth_prop);

allow bluetooth debug_prop:property_service {set};
allow bluetooth debuglog_data_file:dir {add_name create getattr ioctl lock open read relabelto remove_name rename reparent rmdir search setattr watch watch_reads write};
allow bluetooth debuglog_data_file:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
allow bluetooth fuse:dir {add_name create getattr ioctl lock open read remove_name rename reparent rmdir search setattr watch watch_reads write};
allow bluetooth fuse:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
allow bluetooth media_rw_data_file:dir {add_name create getattr ioctl lock open read remove_name rename reparent rmdir search setattr watch watch_reads write};
allow bluetooth media_rw_data_file:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
allow bluetooth mnt_media_rw_file:dir {search};
allow bluetooth mnt_user_file:dir {search};
allow bluetooth mnt_user_file:lnk_file {read};
allow bluetooth rootfs:lnk_file {getattr};
allow bluetooth sdcard_type:dir {add_name create getattr ioctl lock open read remove_name rename reparent rmdir search setattr watch watch_reads write};
allow bluetooth sdcard_type:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
allow bluetooth sdcardfs:dir {add_name create getattr ioctl lock open read remove_name rename reparent rmdir search setattr watch watch_reads write};
allow bluetooth sdcardfs:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
allow bluetooth storage_file:dir {add_name create getattr ioctl lock open read remove_name rename reparent rmdir search setattr watch watch_reads write};
allow bluetooth storage_file:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
allow bluetooth storage_file:lnk_file {read};
allow bluetooth system_mtk_bluetooth_prop:property_service {set};
allow bluetooth system_mtk_vendor_bluetooth_prop:property_service {set};
allow bluetooth tmpfs:lnk_file {read};
allow bluetooth vfat:dir {add_name create getattr ioctl lock open read remove_name rename reparent rmdir search setattr watch watch_reads write};
allow bluetooth vfat:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
neverallow bluetooth proc:file {append audit_access create entrypoint execmod execute execute_no_trans link mounton quotaon relabelfrom relabelto rename setattr unlink watch_mount watch_sb watch_with_perm write};
neverallow bluetooth proc:lnk_file {append audit_access create execmod execute link mounton quotaon relabelfrom relabelto rename setattr unlink watch_mount watch_sb watch_with_perm write};

