type camerapostalgo_exec, exec_type, file_type, system_file_type;
type camerapostalgo_service, service_manager_type;

init_daemon_domain(camerapostalgo);
binder_use(camerapostalgo);
hwbinder_use(camerapostalgo);

binder_call(camerapostalgo, platform_app);
binder_call(camerapostalgo, surfaceflinger);

get_prop(camerapostalgo, hwservicemanager_prop);
get_prop(camerapostalgo, system_mtk_debug_bq_dump_prop);

allow camerapostalgo camerapostalgo_service:service_manager {add find};
allow camerapostalgo gpu_device:chr_file {append getattr ioctl lock map open read watch watch_reads write};
allow camerapostalgo gpu_device:dir {search};
allow camerapostalgo ion_device:chr_file {getattr ioctl lock map open read watch watch_reads};
allow camerapostalgo media_rw_data_file:dir {add_name getattr ioctl lock open read remove_name search watch watch_reads write};
allow camerapostalgo media_rw_data_file:file {append getattr ioctl lock map open read watch watch_reads write};
allow camerapostalgo mnt_user_file:dir {search};
allow camerapostalgo mnt_user_file:lnk_file {getattr ioctl lock map open read watch watch_reads};
allow camerapostalgo sdcardfs:dir {search};
allow camerapostalgo sdcardfs:file {getattr ioctl lock map open read watch watch_reads};
allow camerapostalgo storage_file:lnk_file {getattr ioctl lock map open read watch watch_reads};

