type cmddumper_exec, exec_type, file_type, system_file_type;

init_daemon_domain(cmddumper);

set_prop(cmddumper, debug_prop);
set_prop(cmddumper, system_mtk_debug_mdlogger_prop);
set_prop(cmddumper, system_mtk_mdl_prop);
set_prop(cmddumper, system_mtk_persist_mtklog_prop);

allow cmddumper debuglog_data_file:dir {add_name create getattr ioctl lock open read relabelto remove_name rename reparent rmdir search setattr watch watch_reads write};
allow cmddumper debuglog_data_file:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
allow cmddumper file_contexts_file:file {getattr open read};
allow cmddumper media_rw_data_file:dir {add_name create getattr ioctl lock open read remove_name rename reparent rmdir search setattr watch watch_reads write};
allow cmddumper media_rw_data_file:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
allow cmddumper platform_app:unix_stream_socket {connectto};
allow cmddumper sdcard_type:dir {add_name create getattr ioctl lock open read remove_name rename reparent rmdir search setattr watch watch_reads write};
allow cmddumper sdcard_type:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
allow cmddumper shell_exec:file {execute execute_no_trans getattr ioctl lock map open read watch watch_reads};
allow cmddumper system_file:file {execute execute_no_trans getattr map};

