typeattribute em_app md_monitor_hal_client;
typeattribute em_app mtk_hal_em_client;
typeattribute em_app mtk_hal_netdagent_client;

type_transition em_app tmpfs:file appdomain_tmpfs;

binder_call(em_app, gpuservice);

get_prop(em_app, exported2_default_prop);
get_prop(em_app, exported_default_prop);
get_prop(em_app, radio_prop);
get_prop(em_app, system_mtk_init_svc_md_monitor_prop);
get_prop(em_app, system_mtk_persist_mtk_aee_prop);
get_prop(em_app, vendor_default_prop);

set_prop(em_app, config_prop);
set_prop(em_app, ctl_start_prop);
set_prop(em_app, ctl_stop_prop);
set_prop(em_app, exported_system_radio_prop);
set_prop(em_app, log_tag_prop);
set_prop(em_app, system_mtk_atci_sys_prop);
set_prop(em_app, system_mtk_bgdata_disabled_prop);
set_prop(em_app, system_mtk_common_data_prop);
set_prop(em_app, system_mtk_ctl_atcid_daemon_u_prop);
set_prop(em_app, system_mtk_em_tel_log_prop);
set_prop(em_app, system_mtk_gprs_attach_type_prop);
set_prop(em_app, system_mtk_logmuch_prop);
set_prop(em_app, system_mtk_media_wfd_prop);
set_prop(em_app, system_mtk_power_off_md_prop);
set_prop(em_app, system_mtk_selfreg_prop);
set_prop(em_app, system_mtk_telecom_vibrate_prop);
set_prop(em_app, system_mtk_uce_support_prop);
set_prop(em_app, system_mtk_usb_tethering_prop);
set_prop(em_app, system_mtk_wfc_entitlement_prop);
unix_socket_connect(em_app, fwmarkd, crash_dump);

allow em_app activity_service:service_manager {find};
allow em_app activity_task_service:service_manager {find};
allow em_app appdomain_tmpfs:file {execute getattr map read write};
allow em_app audio_service:service_manager {find};
allow em_app audioserver_service:service_manager {find};
allow em_app autofill_service:service_manager {find};
allow em_app bluetooth_manager_service:service_manager {find};
allow em_app cameraserver_service:service_manager {find};
allow em_app clipboard_service:service_manager {find};
allow em_app debugfs_regmap:dir {search};
allow em_app debugfs_usb_plat:dir {search};
allow em_app debugfs_usb_plat:file {getattr ioctl lock map open read watch watch_reads};
allow em_app debuglog_data_file:dir {getattr ioctl lock open read search watch watch_reads};
allow em_app debuglog_data_file:file {append getattr ioctl lock map open read watch watch_reads write};
allow em_app em_svr:unix_stream_socket {connectto};
allow em_app gpu_service:service_manager {find};
allow em_app input_service:service_manager {find};
allow em_app location_service:service_manager {find};
allow em_app media_session_service:service_manager {find};
allow em_app mediaserver_service:service_manager {find};
allow em_app mtk_gwsd_service:service_manager {find};
allow em_app mtk_radio_service:service_manager {find};
allow em_app mtk_vodata_service:service_manager {find};
allow em_app netd:unix_stream_socket {connectto};
allow em_app port:tcp_socket {name_connect};
allow em_app registry_service:service_manager {find};
allow em_app search_service:service_manager {find};
allow em_app self:tcp_socket {append bind connect create getattr getopt lock map read setattr setopt shutdown write};
allow em_app self:udp_socket {create ioctl};
allow em_app surfaceflinger_service:service_manager {find};
allow em_app sys_usb_rawbulk:dir {getattr ioctl lock open read search watch watch_reads};
allow em_app sysfs_android0_usb:dir {search};
allow em_app sysfs_android0_usb:file {getattr ioctl lock map open read watch watch_reads};
allow em_app sysfs_android_usb:dir {search};
allow em_app sysfs_android_usb:file {getattr ioctl lock map open read watch watch_reads};
allow em_app sysfs_battery_consumption:file {getattr ioctl lock map open read watch watch_reads};
allow em_app sysfs_batteryinfo:dir {search};
allow em_app sysfs_dis_nafg:file {getattr ioctl lock map open read watch watch_reads};
allow em_app sysfs_fg_disable:file {getattr ioctl lock map open read watch watch_reads};
allow em_app sysfs_headset:file {getattr ioctl lock map open read watch watch_reads};
allow em_app sysfs_pmu:dir {search};
allow em_app sysfs_pmu:file {getattr ioctl lock map open read watch watch_reads};
allow em_app sysfs_pmu:lnk_file {getattr ioctl lock map open read watch watch_reads};
allow em_app sysfs_power_off_vol:file {getattr ioctl lock map open read watch watch_reads};
allow em_app sysfs_power_on_vol:file {getattr ioctl lock map open read watch watch_reads};
allow em_app sysfs_usb_plat:dir {search};
allow em_app sysfs_usb_plat:file {getattr ioctl lock map open read watch watch_reads};
allow em_app sysfs_vbus:file {getattr ioctl lock map open read watch watch_reads};
allow em_app tethering_service:service_manager {find};
allow em_app textservices_service:service_manager {find};
allow em_app thermal_service:service_manager {find};
allow em_app trust_service:service_manager {find};
allow em_app uce_service:service_manager {find};
allow em_app uimode_service:service_manager {find};
allow em_app usb_service:service_manager {find};
allow em_app wifi_service:service_manager {find};
allowxperm em_app self:udp_socket ioctl {0x89f2};
allowxperm em_app self:udp_socket ioctl {0x8b06 0x8be1 0x8be9 0x8beb 0x8bef};

