type em_svr_exec, exec_type, file_type, system_file_type;

init_daemon_domain(em_svr);
binder_use(em_svr);

binder_call(em_svr, surfaceflinger);

allow em_svr block_device:dir {search};
allow em_svr debugfs_regmap:dir {search};
allow em_svr debugfs_regmap:file {append getattr ioctl lock map open read watch watch_reads write};
allow em_svr fuse:dir {add_name lock open remove_name search write};
allow em_svr fuse:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
allow em_svr graphics_device:chr_file {ioctl open read write};
allow em_svr graphics_device:dir {search};
allow em_svr media_rw_data_file:dir {add_name open read search write};
allow em_svr media_rw_data_file:file {create open write};
allow em_svr mnt_user_file:dir {search};
allow em_svr proc_battery_cmd:dir {search};
allow em_svr proc_battery_cmd:file {append create getattr ioctl lock map open read rename setattr unlink watch watch_reads write};
allow em_svr proc_flash:file {getattr ioctl lock map open read watch watch_reads};
allow em_svr proc_partition:file {getattr ioctl lock map open read watch watch_reads};
allow em_svr sdcardfs:dir {add_name search write};
allow em_svr sdcardfs:file {create open write};
allow em_svr self:capability {chown fsetid};
allow em_svr shell_exec:file {execute execute_no_trans getattr ioctl lock map open read watch watch_reads};
allow em_svr surfaceflinger_service:service_manager {find};
allow em_svr sys_usb_rawbulk:dir {getattr ioctl lock open read search watch watch_reads};
allow em_svr sys_usb_rawbulk:file {getattr ioctl lock map open read watch watch_reads};
allow em_svr sysfs:dir {open read};
allow em_svr sysfs_battery_consumption:file {getattr ioctl lock map open read watch watch_reads};
allow em_svr sysfs_battery_temp:file {append lock map open write};
allow em_svr sysfs_batteryinfo:dir {search};
allow em_svr sysfs_dis_nafg:file {append getattr ioctl lock map open read watch watch_reads write};
allow em_svr sysfs_dt_firmware_android:dir {open read search};
allow em_svr sysfs_dt_firmware_android:file {getattr open read};
allow em_svr sysfs_fg_disable:file {append getattr ioctl lock map open read watch watch_reads write};
allow em_svr sysfs_leds:dir {search};
allow em_svr sysfs_pmu:dir {search};
allow em_svr sysfs_pmu:file {append getattr ioctl lock map open read watch watch_reads write};
allow em_svr sysfs_pmu:lnk_file {getattr ioctl lock map open read watch watch_reads};
allow em_svr sysfs_power_off_vol:file {getattr ioctl lock map open read watch watch_reads};
allow em_svr sysfs_power_on_vol:file {getattr ioctl lock map open read watch watch_reads};
allow em_svr toolbox_exec:file {execute execute_no_trans getattr ioctl lock map open read watch watch_reads};

