get_prop(init, system_mtk_cta_set_prop);
get_prop(init, system_mtk_rsc_sys_prop);

allow init debugfs_tracing:dir {write};
allow init debugfs_tracing:file {write};
allow init mtk_plpath_utils_exec:file {execute getattr map open read};
allow init proc_dynamic_debug_control:file {append lock map open write};
allow init resize_exec:lnk_file {read};
allow init self:capability {sys_module};
allow init sysfs_devices_system_cpu:file {relabelfrom};
allow init system_file:system {module_load};
allow init system_mtk_cta_set_prop:property_service {set};
allow init system_mtk_rsc_sys_prop:property_service {set};
neverallow init debugfs:dir {add_name append audit_access create execmod execute ioctl link lock map mounton quotaon remove_name rename reparent rmdir unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init debugfs:file {append audit_access create entrypoint execmod execute execute_no_trans ioctl link lock map mounton quotaon rename unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init debugfs:lnk_file {append audit_access create execmod execute ioctl link lock map mounton open quotaon read rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init device:blk_file {append audit_access create execmod execute link mounton quotaon relabelfrom relabelto rename setattr unlink watch_mount watch_sb watch_with_perm write};
neverallow init device:chr_file {append audit_access create entrypoint execmod execute execute_no_trans getattr ioctl link lock map mounton open quotaon read relabelfrom relabelto rename unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init device:dir {append audit_access execmod execute link map quotaon relabelfrom unlink watch_mount watch_sb watch_with_perm};
neverallow init device:file {audit_access entrypoint execmod execute execute_no_trans link mounton quotaon relabelto watch_mount watch_sb watch_with_perm};
neverallow init device:lnk_file {append audit_access execmod execute link mounton quotaon relabelfrom relabelto rename setattr unlink watch_mount watch_sb watch_with_perm write};
neverallow init proc:dir {add_name append audit_access create execmod execute link mounton quotaon relabelfrom relabelto remove_name rename reparent rmdir unlink watch_mount watch_sb watch_with_perm write};
neverallow init proc:file {append audit_access create entrypoint execmod execute execute_no_trans link mounton quotaon relabelfrom relabelto rename setattr unlink watch_mount watch_sb watch_with_perm write};
neverallow init proc:lnk_file {append audit_access create execmod execute link mounton quotaon relabelfrom relabelto rename setattr unlink watch_mount watch_sb watch_with_perm write};
neverallow init socket_device:blk_file {append audit_access create execmod execute link mounton quotaon relabelfrom relabelto rename setattr unlink watch_mount watch_sb watch_with_perm write};
neverallow init socket_device:chr_file {append audit_access create entrypoint execmod execute execute_no_trans getattr ioctl link lock map mounton open quotaon read relabelfrom relabelto rename unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init socket_device:dir {append audit_access execmod execute link map mounton quotaon relabelfrom unlink watch_mount watch_sb watch_with_perm};
neverallow init socket_device:lnk_file {append audit_access execmod execute link mounton quotaon relabelfrom relabelto rename setattr unlink watch_mount watch_sb watch_with_perm write};
neverallow init sysfs:dir {add_name append audit_access create execmod execute link map quotaon remove_name rename reparent rmdir unlink watch_mount watch_sb watch_with_perm write};
neverallow init sysfs:file {audit_access create entrypoint execmod execute execute_no_trans link mounton quotaon rename unlink watch_mount watch_sb watch_with_perm};
neverallow init sysfs:lnk_file {append audit_access create execmod execute link mounton quotaon rename unlink watch_mount watch_sb watch_with_perm write};
neverallow init system_data_file:blk_file {append audit_access create execmod execute getattr ioctl link lock map mounton open quotaon read relabelfrom rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init system_data_file:chr_file {append audit_access create entrypoint execmod execute execute_no_trans getattr ioctl link lock map mounton open quotaon read relabelfrom rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init system_data_file:dir {append audit_access execmod execute link lock map quotaon rename reparent unlink watch watch_mount watch_reads watch_sb watch_with_perm};
neverallow init system_data_file:fifo_file {append audit_access execmod execute ioctl link lock map mounton quotaon rename watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init system_data_file:file {append audit_access entrypoint execmod execute execute_no_trans ioctl link lock mounton quotaon rename watch watch_mount watch_reads watch_sb watch_with_perm};
neverallow init system_data_file:lnk_file {append audit_access execmod execute link mounton quotaon rename watch_mount watch_sb watch_with_perm write};
neverallow init system_data_file:sock_file {append audit_access execmod execute ioctl link lock map mounton quotaon rename watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init vendor_data_file:blk_file {append audit_access create execmod execute getattr ioctl link lock map mounton open quotaon read relabelfrom rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init vendor_data_file:chr_file {append audit_access create entrypoint execmod execute execute_no_trans getattr ioctl link lock map mounton open quotaon read relabelfrom rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init vendor_data_file:dir {append audit_access execmod execute link lock map mounton quotaon rename reparent unlink watch watch_mount watch_reads watch_sb watch_with_perm};
neverallow init vendor_data_file:fifo_file {append audit_access execmod execute ioctl link lock map mounton quotaon rename watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init vendor_data_file:file {append audit_access entrypoint execmod execute execute_no_trans ioctl link lock mounton quotaon rename watch watch_mount watch_reads watch_sb watch_with_perm};
neverallow init vendor_data_file:lnk_file {append audit_access execmod execute ioctl link lock map mounton open quotaon read rename watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow init vendor_data_file:sock_file {append audit_access execmod execute ioctl link lock map mounton quotaon rename watch watch_mount watch_reads watch_sb watch_with_perm write};

