neverallow iorap_inode2filename system_data_file:dir {add_name append audit_access create execmod execute ioctl link lock map mounton quotaon relabelfrom relabelto remove_name rename reparent rmdir setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow iorap_inode2filename system_data_file:file {append audit_access create entrypoint execmod execute execute_no_trans ioctl link lock map mounton open quotaon read relabelfrom relabelto rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow iorap_inode2filename system_data_file:lnk_file {append audit_access create execmod execute ioctl link lock map mounton quotaon relabelfrom relabelto rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow iorap_prefetcherd system_data_file:dir {add_name append audit_access create execmod execute ioctl link lock map mounton quotaon relabelfrom relabelto remove_name rename reparent rmdir setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow iorap_prefetcherd system_data_file:file {append audit_access create entrypoint execmod execute execute_no_trans getattr ioctl link lock map mounton quotaon relabelfrom relabelto rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow iorap_prefetcherd system_data_file:lnk_file {append audit_access create execmod execute getattr ioctl link lock map mounton quotaon relabelfrom relabelto rename setattr unlink watch watch_mount watch_reads watch_sb watch_with_perm write};

