type mdmi_redirector_exec, exec_type, file_type, system_file_type;

typeattribute mdmi_redirector mtk_hal_dmc_client;

init_daemon_domain(mdmi_redirector);

unix_socket_connect(mdmi_redirector, fwmarkd, netd);

allow mdmi_redirector node:tcp_socket {node_bind};
allow mdmi_redirector port:tcp_socket {name_bind};
allow mdmi_redirector self:tcp_socket {accept append bind connect create getattr getopt ioctl listen lock map read setattr setopt shutdown write};
allow mdmi_redirector self:udp_socket {accept append bind connect create getattr getopt ioctl listen lock map read setattr setopt shutdown write};

