typeattribute power_service app_api_service;
typeattribute sysfs_nfc_power_writable mlstrustedobject;

type sysfs_power_off_vol, fs_type, sysfs_type;
type sysfs_power_on_vol, fs_type, sysfs_type;

