typeattribute radio hal_telephony_client;
typeattribute radio_data_file mlstrustedobject;

get_prop(radio, config_prop);
get_prop(radio, ctl_start_prop);
get_prop(radio, ctl_stop_prop);
get_prop(radio, system_mtk_bgdata_disabled_prop);
get_prop(radio, system_mtk_capability_switch_prop);
get_prop(radio, system_mtk_capctrl_sys_prop);
get_prop(radio, system_mtk_cdma_ecm_prop);
get_prop(radio, system_mtk_cdma_prop);
get_prop(radio, system_mtk_common_data_prop);
get_prop(radio, system_mtk_cta_set_prop);
get_prop(radio, system_mtk_ctm_prop);
get_prop(radio, system_mtk_ctmslot_prop);
get_prop(radio, system_mtk_em_tel_log_prop);
get_prop(radio, system_mtk_gprs_attach_type_prop);
get_prop(radio, system_mtk_imsconfig_prop);
get_prop(radio, system_mtk_init_svc_md_monitor_prop);
get_prop(radio, system_mtk_persist_vendor_vzw_device_type_prop);
get_prop(radio, system_mtk_persist_xcap_rawurl_prop);
get_prop(radio, system_mtk_rsc_sys_prop);
get_prop(radio, system_mtk_rtt_prop);
get_prop(radio, system_mtk_selfreg_prop);
get_prop(radio, system_mtk_sim_system_prop);
get_prop(radio, system_mtk_subsidylock_connect_prop);
get_prop(radio, system_mtk_subsidylock_prop);
get_prop(radio, system_mtk_supp_serv_prop);
get_prop(radio, system_mtk_telecom_vibrate_prop);
get_prop(radio, system_mtk_uce_support_prop);
get_prop(radio, system_mtk_vsim_sys_prop);
get_prop(radio, system_mtk_wfc_entitlement_prop);
get_prop(radio, system_mtk_world_phone_prop);
get_prop(radio, vendor_default_prop);

allow radio aal_service:service_manager {find};
allow radio config_prop:property_service {set};
allow radio cta_networkdatacontroller_service:service_manager {find};
allow radio ctl_start_prop:property_service {set};
allow radio ctl_stop_prop:property_service {set};
allow radio mtk_vodata_service:service_manager {add find};
allow radio ppl_agent_service:service_manager {find};
allow radio proc_ccci_lp_mem:file {getattr ioctl lock map open read watch watch_reads};
allow radio system_mtk_bgdata_disabled_prop:property_service {set};
allow radio system_mtk_capability_switch_prop:property_service {set};
allow radio system_mtk_capctrl_sys_prop:property_service {set};
allow radio system_mtk_cdma_ecm_prop:property_service {set};
allow radio system_mtk_cdma_prop:property_service {set};
allow radio system_mtk_common_data_prop:property_service {set};
allow radio system_mtk_ctm_prop:property_service {set};
allow radio system_mtk_ctmslot_prop:property_service {set};
allow radio system_mtk_gprs_attach_type_prop:property_service {set};
allow radio system_mtk_imsconfig_prop:property_service {set};
allow radio system_mtk_persist_xcap_rawurl_prop:property_service {set};
allow radio system_mtk_sim_system_prop:property_service {set};
allow radio system_mtk_subsidylock_connect_prop:property_service {set};
allow radio system_mtk_supp_serv_prop:property_service {set};
allow radio system_mtk_uce_support_prop:property_service {set};
allow radio system_mtk_vsim_sys_prop:property_service {set};
allow radio system_mtk_wfc_entitlement_prop:property_service {set};
allow radio system_mtk_world_phone_prop:property_service {set};

