typeattribute sdcardd mlstrustedsubject;

allow sdcardd platform_app:fd {use};
allow sdcardd sdcardfs:dir {mounton};
allow sdcardd untrusted_app:fd {use};
neverallow sdcardd system_data_file:file {append audit_access create entrypoint execmod execute execute_no_trans link mounton quotaon relabelfrom relabelto rename setattr unlink watch_mount watch_sb watch_with_perm write};

