type system_mtk_aal_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_acs_support_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_acs_url_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_acs_version_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_amsaal_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_amslog_prop, extended_core_property_type, property_type, system_property_type, system_restricted_property_type;
type system_mtk_apptoken_required_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_atci_sys_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_bgdata_disabled_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_bluetooth_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_bootani_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_capability_switch_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_capctrl_sys_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_cdma_ecm_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_cdma_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_clientapi_support_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_common_data_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_connsysfw_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_cta_set_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_ctl_atcid_daemon_u_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_ctl_campostalgo_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_ctm_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_ctmslot_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_debug_bq_dump_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_debug_bq_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_debug_mdlogger_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_debug_mtk_aee_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_debug_mtklog_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_debug_netlog_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_debug_sf_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_em_tel_log_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_gprs_attach_type_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_graphics_sf_gll_prop, property_type, system_internal_property_type, system_property_type;
type system_mtk_graphics_sf_gll_ro_prop, property_type, system_property_type, system_public_property_type;
type system_mtk_imsconfig_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_logmuch_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_mdl_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_mdl_pulllog_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_mdl_start_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_media_wfd_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_opt_in_url_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_permission_control_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_persist_aee_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_persist_mdlog_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_persist_mtklog_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_persist_vendor_vzw_device_type_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_persist_xcap_rawurl_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_power_off_md_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_rcs_support_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_rsc_sys_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_rtt_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_selfreg_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_sim_system_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_subsidylock_connect_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_subsidylock_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_supp_serv_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_terservice_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_uce_support_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_update_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_update_support_prop, extended_core_property_type, property_type, system_property_type, system_public_property_type;
type system_mtk_usb_tethering_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_usp_srv_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_vendor_bluetooth_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_vsim_sys_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_wfc_entitlement_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_wfc_opt_in_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;
type system_mtk_world_phone_prop, extended_core_property_type, property_type, system_internal_property_type, system_property_type;

