typeattribute system_server hal_gpu_client;
typeattribute system_server hal_touchll_client;
typeattribute system_server_tmpfs mlstrustedobject;

binder_call(system_server, mtk_hal_fm);

get_prop(system_server, ctl_bootanim_prop);
get_prop(system_server, log_tag_prop);
get_prop(system_server, system_mtk_amsaal_prop);
get_prop(system_server, system_mtk_amslog_prop);
get_prop(system_server, system_mtk_bgdata_disabled_prop);
get_prop(system_server, system_mtk_debug_bq_dump_prop);
get_prop(system_server, system_mtk_debug_mtk_aee_prop);
get_prop(system_server, system_mtk_duraspeed_drop_caches_prop);
get_prop(system_server, system_mtk_em_tel_log_prop);
get_prop(system_server, system_mtk_graphics_sf_gll_ro_prop);
get_prop(system_server, system_mtk_heavy_loading_prop);
get_prop(system_server, system_mtk_logmuch_prop);
get_prop(system_server, system_mtk_media_wfd_prop);
get_prop(system_server, system_mtk_persist_aee_prop);
get_prop(system_server, system_mtk_persist_mtk_aee_prop);
get_prop(system_server, system_mtk_persist_vendor_vzw_device_type_prop);
get_prop(system_server, system_mtk_rsc_sys_prop);
get_prop(system_server, system_mtk_rtt_prop);
get_prop(system_server, system_mtk_telecom_vibrate_prop);
get_prop(system_server, system_mtk_usb_tethering_prop);
get_prop(system_server, vendor_default_prop);

allow system_server aal_service:service_manager {find};
allow system_server app_zygote:process {getpgid};
allow system_server binderfs_logs:dir {getattr ioctl lock open read search watch watch_reads};
allow system_server binderfs_logs:file {getattr ioctl lock map open read watch watch_reads};
allow system_server binderfs_logs_proc:dir {getattr ioctl lock open read search watch watch_reads};
allow system_server binderfs_logs_proc:file {getattr ioctl lock map open read watch watch_reads};
allow system_server crash_dump:fd {use};
allow system_server crash_dump:fifo_file {append lock map open write};
allow system_server crash_dump:process {getpgid};
allow system_server crash_dump:unix_stream_socket {connectto};
allow system_server ctl_bootanim_prop:property_service {set};
allow system_server dex2oat:process {sigkill};
allow system_server installd:process {signal};
allow system_server log_tag_prop:property_service {set};
allow system_server mddb_filter_data_file:dir {getattr};
allow system_server media_rw_data_file:dir {setattr};
allow system_server mtk_autoboot_service:service_manager {add};
allow system_server mtk_connmetrics_service:service_manager {add};
allow system_server mtk_permrecords_service:service_manager {add};
allow system_server netdiag:fd {use};
allow system_server ota_package_file:dir {getattr};
allow system_server proc_battery_cmd:dir {search};
allow system_server sysfs_HDMI_audio_extcon_state:file {getattr ioctl lock map open read watch watch_reads};
allow system_server system_mtk_amsaal_prop:property_service {set};
allow system_server system_mtk_amslog_prop:property_service {set};
allow system_server system_mtk_duraspeed_drop_caches_prop:property_service {set};
allow system_server system_mtk_logmuch_prop:property_service {set};
allow system_server system_mtk_media_wfd_prop:property_service {set};
allow system_server tll_device:chr_file {getattr ioctl lock map open read watch watch_reads};
allow system_server wifi_prop:property_service {set};
allow system_server zygote:process {getpgid};
dontaudit system_server appdomain:file {append lock map open write};
dontaudit system_server vfat:dir {open read};
neverallow system_server device:dir {add_name append audit_access create execmod execute link map mounton quotaon relabelfrom relabelto remove_name rename reparent rmdir setattr unlink watch_mount watch_sb watch_with_perm write};
neverallow system_server proc:file {append audit_access create entrypoint execmod execute execute_no_trans link mounton quotaon relabelfrom relabelto rename setattr unlink watch_mount watch_sb watch_with_perm write};
neverallow system_server proc:lnk_file {append audit_access create execmod execute link mounton quotaon relabelfrom relabelto rename setattr unlink watch_mount watch_sb watch_with_perm write};
neverallow system_server system_data_file:dir {append audit_access execmod execute link map mounton quotaon relabelto unlink watch_mount watch_sb watch_with_perm};
neverallow system_server system_data_file:fifo_file {audit_access execmod execute link mounton quotaon relabelfrom relabelto watch_mount watch_sb watch_with_perm};
neverallow system_server system_data_file:file {audit_access entrypoint execmod execute execute_no_trans mounton quotaon relabelto watch_mount watch_sb watch_with_perm};
neverallow system_server system_data_file:lnk_file {audit_access execmod execute link mounton quotaon relabelfrom relabelto watch_mount watch_sb watch_with_perm};
neverallow system_server system_data_file:sock_file {audit_access execmod execute link mounton quotaon relabelfrom relabelto watch_mount watch_sb watch_with_perm};

