type terservice_exec, exec_type, file_type, system_file_type;
type terservice_service, service_manager_type;

init_daemon_domain(terservice);
binder_use(terservice);

set_prop(terservice, system_mtk_terservice_prop);

allow terservice terservice_service:service_manager {add};

