neverallow ueventd device:blk_file {append audit_access execmod execute ioctl link lock map mounton open quotaon read rename watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow ueventd device:chr_file {append audit_access entrypoint execmod execute execute_no_trans ioctl link lock map mounton open quotaon read relabelfrom relabelto rename watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow ueventd device:dir {append audit_access execmod execute link map mounton quotaon relabelfrom relabelto unlink watch_mount watch_sb watch_with_perm};
neverallow ueventd device:file {audit_access entrypoint execmod execute execute_no_trans link mounton quotaon relabelfrom relabelto watch_mount watch_sb watch_with_perm};
neverallow ueventd device:lnk_file {append audit_access execmod execute link mounton quotaon relabelfrom relabelto rename setattr watch_mount watch_sb watch_with_perm write};
neverallow ueventd socket_device:blk_file {append audit_access execmod execute ioctl link lock map mounton open quotaon read rename watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow ueventd socket_device:chr_file {append audit_access entrypoint execmod execute execute_no_trans ioctl link lock map mounton open quotaon read relabelfrom relabelto rename watch watch_mount watch_reads watch_sb watch_with_perm write};
neverallow ueventd socket_device:dir {append audit_access execmod execute link map mounton quotaon relabelfrom relabelto unlink watch_mount watch_sb watch_with_perm};
neverallow ueventd socket_device:lnk_file {append audit_access execmod execute link mounton quotaon relabelfrom relabelto rename setattr watch_mount watch_sb watch_with_perm write};
neverallow ueventd sysfs:dir {add_name append audit_access create execmod execute link map quotaon remove_name rename reparent rmdir unlink watch_mount watch_sb watch_with_perm write};
neverallow ueventd sysfs:file {audit_access create entrypoint execmod execute execute_no_trans link mounton quotaon rename unlink watch_mount watch_sb watch_with_perm};
neverallow ueventd sysfs:lnk_file {append audit_access create execmod execute link mounton quotaon rename unlink watch_mount watch_sb watch_with_perm write};

