typeattribute exported2_vold_prop system_property_type;
typeattribute exported2_vold_prop system_public_property_type;
typeattribute exported_vold_prop system_property_type;
typeattribute exported_vold_prop system_restricted_property_type;
typeattribute vold mlstrustedsubject;
typeattribute vold_prop system_property_type;
typeattribute vold_prop system_restricted_property_type;

allow vold block_device:file {create};
allow vold kernel:system {module_request};
allow vold mtd_device:chr_file {read write open};
allow vold mtd_device:dir {search};
allow vold platform_app:fd {use};
dontaudit vold proc_battery_cmd:dir {ioctl read getattr lock open watch watch_reads search};
neverallow vold device:dir {ioctl read create setattr lock relabelfrom relabelto append map unlink link rename execute quotaon mounton audit_access open execmod watch watch_mount watch_sb watch_with_perm watch_reads add_name remove_name reparent rmdir};
neverallow vold proc:file {write create setattr relabelfrom relabelto append unlink link rename execute quotaon mounton audit_access execmod watch_mount watch_sb watch_with_perm execute_no_trans entrypoint};
neverallow vold sysfs:file {create unlink link rename execute quotaon mounton audit_access execmod watch_mount watch_sb watch_with_perm execute_no_trans entrypoint};
neverallow vold system_data_file:dir {relabelfrom relabelto append map unlink link rename execute quotaon audit_access execmod watch_mount watch_sb watch_with_perm reparent};
neverallow vold system_data_file:file {ioctl write create getattr setattr lock relabelfrom relabelto append map unlink link rename execute quotaon mounton audit_access open execmod watch watch_mount watch_sb watch_with_perm watch_reads execute_no_trans entrypoint};
neverallow vold system_data_file:lnk_file {ioctl read write create setattr lock relabelfrom relabelto append map unlink link rename execute quotaon mounton audit_access open execmod watch watch_mount watch_sb watch_with_perm watch_reads};
neverallow vold vendor_data_file:dir {relabelfrom relabelto append map unlink link execute quotaon mounton audit_access execmod watch_mount watch_sb watch_with_perm};
neverallow vold_prepare_subdirs system_data_file:dir {ioctl create setattr lock relabelto append map unlink link rename execute quotaon mounton audit_access execmod watch watch_mount watch_sb watch_with_perm watch_reads reparent};
neverallow vold_prepare_subdirs system_data_file:file {ioctl read write create setattr lock relabelfrom relabelto append map link rename execute quotaon mounton audit_access open execmod watch watch_mount watch_sb watch_with_perm watch_reads execute_no_trans entrypoint};
neverallow vold_prepare_subdirs vendor_data_file:dir {ioctl create setattr lock relabelto append map unlink link rename execute quotaon mounton audit_access execmod watch watch_mount watch_sb watch_with_perm watch_reads reparent};
