type vtservice_exec, exec_type, file_type, system_file_type;

init_daemon_domain(vtservice);
binder_use(vtservice);

binder_call(vtservice, mediaserver);

get_prop(vtservice, hwservicemanager_prop);
get_prop(vtservice, system_mtk_debug_bq_dump_prop);
get_prop(vtservice, vendor_default_prop);

